PPSoC-Code/ARC-Controller/ARC-EMBED.cydsn/codegentemp
PSoC-Code/ARC-Controller/ARC-EMBED.cydsn/CortexM0
PSoC-Code/ARC-Controller/ARC-EMBED.cydsn/Generated_Source
.DS_Store
*.cywrk.*
*.cyprj.*
*.cycdx
*.cyfit
*.rpt
*.uvopt
*.uvproj
*_timing.html
*.cydsn/codegentemp
*.cydsn/DP8051
*.cydsn/Generated_Source
